body {
    margin: 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 5px;
    height: 100vh;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; 
}

.container-w-chat {
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    column-gap: 10px;

}

.chat {
    display: none;
    order: 0;
    align-self: center;
    max-width: 100%;
    max-width: 400px;
    /*min-width: auto;*/
}

.chat-content-messages {
    height: 365px;
    overflow: scroll;
    border: 1px dashed rgb(180, 180, 180);
    padding: 5px;
    margin: 5px;
    border-radius: 3%;
}

.chat-form {
    margin: 5px;

}

.chat-message-text {
    margin: 0;
    
}

.chat-message {
    display: flex;
    padding: 5px 10px;
    
}  

.chat-message p {
    display: block;
    padding: 10px 15px;
    background-color: rgba(221, 223, 235, 0.671);
    border-radius: 3%;
    word-wrap: break-word;
}

.chat-message span {
    padding: 10px;
}


.chat-vision {
    display: block;
}

.chat-form {
    display: flex;
    align-items: center;
    }
  
.chat-form-input {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 16px;
  }

.player{
   grid-column: span 2;
   min-width: 240px;
   width: 100%;
   height: 400px;
   background-color: antiquewhite;
   margin: 5px;
   /*padding: 5px;*/
}

.player-w-chat {
    order: -1; 
    align-self: center;
    width: 99%;
    height: 400px;
    margin: 0;
    }


.video-fm {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}